
@font-face {
  font-family: 'Avenir';
  src: url('./fonts/AvenirLTStd-Roman.otf');
}

* {
  font-size: 12px;
  font-family: 'Avenir';
  font-weight: bold;
  box-sizing: border-box;
}
body {
  background-color: #c3c3c3;
}

.container {
  padding: 10px 20px;
  background-color: #fff;
  width: 15%;

  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}
.optionsContainer {
  padding: 0;
}
.selectedOptions {
  padding-top: 10px;
}
.optionsContainer li {
  padding: 10px 0;
  list-style: none;
  
}
.optionsContainer .optionName{
  float: left;
}
.optionsContainer li.hovered .optionName {
  color: #3ebfcf;
}
.optionsContainer input {
  float: right;
  width: 0;
  height: 0;
  margin: 0;
  position: relative;
}
input.notChecked:after {
  content: '+';
  color: #000;
}
li.hovered input:after {
  color: #3ebfcf;
}
li.checked label {
  color: #c3c3c3;
}
input.checked:after {
    height: 7px;
    width: 3px;
    border: solid #c3c3c3;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    position: absolute;
}

.search-input {
  padding: 12px  12px 12px 0;
  border-bottom: 1px solid #c3c3c3;
}
.search-input input{
  border: none;
  outline: none;
}
::-webkit-input-placeholder {
  color: #c3c3c3;
}
